.addTaskForm {
    display: flex;
    gap: 20px;
    padding: 5px 0px;
}

.innerDivText {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5px;
}

.innerDivRadio {
    display: flex;
    flex: 1;
    padding: 5px;
}

#moreFunction {
    display: flex;
    padding: 5px 0px;
}

#searchFunction {
    display: flex;
    flex: 2;
    gap: 10px;
}

.divBtn {
    display: flex;
    flex: 1;
    justify-content: end;
}

.form-label {
    margin-right: 4px;
}

.form-check-input {
    margin-right: 3px;
}

.optionRadio {
    margin-right: 3px;
}

#error-task-input {
    color: red;
    font-size: small;
}

#error-date-input {
    color: red;
    font-size: small;
}

.my-custom-icon {
    width: 60px;
    height: 60px;
}

thead {
    font-size: medium;
}

td {
    font-size: 16px;
}